.input {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-family: <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">;
}

#mycanvas {
    background-color: yellow;
}

* #textarea {
    background-color: #777;
}

p {
    background-color: rgb(60, 179, 113);
}

iframe[title] {
    background-color: rgba(60, 179, 113,0);
}

nav.button:hover {
    color: #ff00ff;
}

nav.button:active {
    color: steelblue;
}

span,
div {
  border: red 3px solid;
  border-radius: 10px;
}

div p {
    margin: 2em;
}

div > span {
    margin: 3mm;
}

img ~ p {
    color: brown;
}

img + p {
    margin: 2mm;
}

#mycanvas.input {
    margin: 1mm;
}

img {
    margin-top: 8px;
    margin: 8px 8px 8px 8px;
    padding-top: 6px;
    padding: 6px 6px 6px 6px;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 40px; left: 40px;
}

video {
    position: fixed;
}




/*start early start often*/

